<div class="main-container">
    <header class="header header-6 topMenu">
        <div class="nav-logo">
            <img src="../assets/logo.png" alt="main logo 메인 로고">
            <span (click)="goToMain()">ZEUS</span>
        </div>

        <div class="header-actions">
            <div class="nav-divider"></div>
            <clr-dropdown class="mr30">
                <button class="" clrDropdownTrigger>
                    <clr-icon shape="user" size="21" class="icon-left mr10"></clr-icon>
                    <span>JOINTREE</span>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <div aria-label="Dropdown header Action 1" clrDropdownItem>정보변경</div>
                    <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
                    <div clrDropdownItem>로그아웃</div>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <div class="content-container">      
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" *ngIf="isUserExisting" class="sideMenu">
            <div>
            <ng-container *ngFor = "let topmenu of topMenu"> 
                <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
                    <ng-container *ngIf = "topmenu.icon_code == topMenuIcon.icon_code">

                    <clr-vertical-nav-group routerLinkActive="active">
                        <a clrVerticalNavLink routerLinkActive="active">
                        <clr-icon [attr.shape]="topMenuIcon.icon_name" routerLinkActive="active" clrVerticalNavIcon></clr-icon>
                            {{topmenu.top_menu_name}}  
                        </a>
                        <clr-vertical-nav-group-children>
                            <ng-container *ngFor = "let submenu of subMenu">   
                                <ng-container *ngIf= "topmenu.top_menu_code == submenu.top_menu_code"> 
                                    <a clrVerticalNavLink routerLinkActive="active"
                                        [routerLink] = "'/app/target/'+topmenu.top_menu_code+'/'+submenu.sub_menu_code">
                                        <ng-contianer *ngFor = "let subMenuIcon of subMenuIcon">
                                            <ng-container *ngIf = "submenu.icon_code == subMenuIcon.icon_code">
                                                <clr-icon [attr.shape]="subMenuIcon.icon_name"></clr-icon>
                                            </ng-container>
                                        </ng-contianer>
                                        {{submenu.sub_menu_name}}
                                    </a>
                                </ng-container>
                            </ng-container>
                        </clr-vertical-nav-group-children>
                    </clr-vertical-nav-group>
                    </ng-container>
                </ng-container>
            </ng-container> 
            
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/app/setting">
                설정
            </a>
            </div>
            <div class="mb-20">
                <clr-toggle-container>
                    <clr-toggle-wrapper>
                        <input type="checkbox" clrToggle name="options" required value="option1" (click)="switchTheme()"
                            id="ThemeSwitch" />
                    </clr-toggle-wrapper>
                </clr-toggle-container>
            </div>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>