<div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            

            <ng-container *ngFor="let theme of themeArray;let i=index">
                <ng-container *ngIf="theme.showStyle === styleMode">
                    <clr-toggle-container>
                        <clr-toggle-wrapper *ngIf="styleMode === 'LIGHT'">
                            <input type="checkbox" (click)="themeChanged(theme)" clrToggle name="light" required value="option1"/>
                            <label>DARK</label>
                        </clr-toggle-wrapper>
        
                        <clr-toggle-wrapper *ngIf="styleMode === 'DARK'">
                            <input type="checkbox" (click)="themeChanged(theme)" clrToggle name="light" required value="option1"/>
                            <label>LIGHT</label>
                        </clr-toggle-wrapper>
                    </clr-toggle-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            언어 설정
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToDataUserManugeLink()">
                사용자 관리
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToSmtpLink()">
                SMTP 설정
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToDataStoreDurationLink()">
                데이터 저장기간
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            자동 로그아웃
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            Help
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            Version
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToYamlLink()">
                YAML 관리
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToMenuLink()">
                Menu 설정
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToUrlLink()">
                URL Link
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-block">
            <a href="javascript:void(0)" (click)="goToRefreshLink()">
                Refresh Time
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
</div>