<div>
    <div class="titleBox">
      <div>
        <h1>Menu URL 설정 하기</h1>
      </div>
      <div>
        <a href="#">설정 ></a><a href="#" class="link"> SMTP 설정</a>
      </div>
    </div>
  
    <div class="textBox">
      <clr-icon shape="bell"></clr-icon>
      <p>브라우징 메뉴와 쿠버네티스 대시보드 URL Link를 설정합니다.</p>
    </div>
  
    <div class="con-box">
      <div class="con-box-item">
        <form clrForm class="formBox">
          <clr-combobox-container>
            <label>Top Menu</label>
            <clr-combobox  name = "top_menu_code" [(ngModel)] = "topMenu.top_menu_code">
              <clr-options>
                <ng-container *ngFor = "let topMenuList of TopMenuList">
              <clr-option clrValue="{{topMenuList.top_menu_code}}">{{topMenuList.top_menu_name}}</clr-option>
            </ng-container>
            </clr-options>
          </clr-combobox>

          <label>Sub Menu</label>
            <clr-combobox  name = "sub_menu_code"  [(ngModel)] = "subMenu.sub_menu_code">
              <clr-options>
                <ng-container *ngFor = "let subMenuList of SubMenuList">
              <clr-option clrValue="{{subMenuList.sub_menu_code}}">{{subMenuList.sub_menu_name}}</clr-option>
            </ng-container>
            </clr-options>
          </clr-combobox>
          </clr-combobox-container>
          <clr-input-container>
            <label>LINK URL</label>
            <input clrInput placeholder="URL" name="menu_url" [(ngModel)] = "topMenu.top_menu_target_url" required/>
          </clr-input-container>
          <clr-toggle-container>
            <label>New Window</label>
            <clr-toggle-wrapper>
                <input type="checkbox" clrToggle name="new_window_check" value="option1" [(ngModel)] = "topMenu.new_window_check"/>
                <label>Yes</label>
            </clr-toggle-wrapper>
        </clr-toggle-container>
        </form>
        <button class="btn btn-primary" (click) = "onTopMenuSave()">
          <clr-icon shape="download"></clr-icon>저장
        </button>
        <button class="btn">
          <clr-icon shape="ban"></clr-icon>삭제
        </button>
      </div>
      <div class="con-box-item textBox mtb10">
        <h2 class="con-box-h2-line">메뉴리스트</h2>
        <button class="btn btn-primary btn-layer" (click) = "onDBSave()" [disabled] = "click">
          <clr-icon shape="download"></clr-icon>URL 적용
        </button>
        <clr-tree>
          <ng-container *ngFor = "let TopMenu of TopMenuList">
            <clr-tree-node (click) = "onTopMenuGet(TopMenu)">
              <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
              <ng-container *ngIf = "TopMenu.icon_code == topMenuIcon.icon_code">
                <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon>
              </ng-container> 
            </ng-container>  
              {{TopMenu.top_menu_name}} 
              <clr-tree-node *ngFor = "let SubMenu of SubMenuList" (click) = "onSubMenuGet(SubMenu)">
                <ng-container *ngIf = "TopMenu.top_menu_code == SubMenu.top_menu_code">
                  <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
                  <ng-container *ngIf = "SubMenu.icon_code == topMenuIcon.icon_code">
                    <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon>
                  </ng-container>
                </ng-container>
                {{SubMenu.sub_menu_name}}
              </ng-container>
              </clr-tree-node>    
              </clr-tree-node>        
            </ng-container>
            </clr-tree>
      </div>
    </div>
  </div>