<form class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label>Top Menu Name</label>
        <input  type = "text" class="clr-input" name="top_menu_name" [(ngModel)] = "topMenu.top_menu_name">
        <label>Top Menu Code</label>
        <input  type = "text" class="clr-input" name="top_menu_code" [(ngModel)] = "topMenu.top_menu_code">
        <label>Menu Order</label>
        <input  type = "text" class="clr-input" name="top_menu_order" [(ngModel)] = "topMenu.top_menu_order">
        <button type = "button" class = "btn btn-success" (click) = "onTopMenuSave()">저장</button>
        <button type = "button" class = "btn btn-primary">삭제</button>
    </div>
    <div class="clr-form-control">
        <label>Sub Menu Name</label>
        <input  type = "text" class="clr-input" name="sub_menu_name" [(ngModel)] = "subMenu.sub_menu_name">
        <label>Top Menu Code</label>
        <input  type = "text" class="clr-input" name="top_menu_code" [(ngModel)] = "subMenu.top_menu_code">
        <label>Menu Order</label>
        <input  type = "text" class="clr-input" name="sub_menu_order" [(ngModel)] = "subMenu.sub_menu_order"> 
        <button type = "button" class = "btn btn-success" (click) = "onSubMenuSave()">저장</button>
        <button type = "button" class = "btn btn-primary">삭제</button>
    </div>
</form>