<div class="titleBox">
    <div>
      <h1>Menu 설정</h1>
    </div>
    <div>
      <a href="#">설정 ></a> &gt;<a href="#" class="link"> Menu 설정</a>
    </div>
  </div>
  
  <div class="textBox">
    <clr-icon shape="bell"></clr-icon>
    <p>제우스 동적 메뉴 관리 시스템 입니다.<br>
      2 Depth 메뉴로 구성가능하며 각 메뉴명, 메뉴 코드, Link 관련 URL을 설정을 지원합니다.</p>
  </div>
  
  <div class="con-box">
    <div class="con-box-item">
      <form clrForm class="formBox">
        <clr-input-container>
          <label>Top Menu Name</label>
          <input clrInput placeholder="Name" />
        </clr-input-container>
        <clr-input-container>
          <label>Top Menu Code</label>
          <input clrInput placeholder="Code" />
        </clr-input-container>
        <clr-input-container>
          <label>Menu Order</label>
          <input clrInput placeholder="Order" />
        </clr-input-container>
        <button class="btn btn-primary">
          <clr-icon shape="download"></clr-icon>저장
        </button>
        <button class="btn">
          <clr-icon shape="ban"></clr-icon>삭제
        </button>
      </form>
      <form clrForm class="formBox">
        <clr-input-container>
          <label>Sub Menu Name</label>
          <input clrInput placeholder="Name" />
        </clr-input-container>
        <clr-input-container>
          <label>Sub Menu Code</label>
          <input clrInput placeholder="Code" />
        </clr-input-container>
        <clr-input-container>
          <label>Menu Order</label>
          <input clrInput placeholder="Order" />
        </clr-input-container>
        <button class="btn btn-primary">
          <clr-icon shape="download"></clr-icon>저장
        </button>
        <button class="btn">
          <clr-icon shape="ban"></clr-icon>삭제
        </button>
      </form>
  
    </div>
    <div class="con-box-item textBox mtb10">
      <h2 class="con-box-h2-line">메뉴리스트</h2>
      <button class="btn btn-primary btn-layer">
        <clr-icon shape="download"></clr-icon>메뉴 적용
      </button>
      <clr-tree>
        <clr-tree-node [clrExpanded]="true">
          David Wallace (CFO)
          <clr-tree-node [clrExpanded]="true">
            Michael Scott (Regional Manager)
  
            <clr-tree-node>Dwight K. Schrute (Assistant to the Regional Manager)</clr-tree-node>
  
            <clr-tree-node>
              Jim Halpert (Head of Sales)
              <clr-tree-node>Andy Bernard</clr-tree-node>
              <clr-tree-node>Stanley Hudson</clr-tree-node>
              <clr-tree-node>Phyllis Vance</clr-tree-node>
              <clr-tree-node>Todd Packer</clr-tree-node>
            </clr-tree-node>
  
            <clr-tree-node>
              Angela Martin (Head of Accounting)
              <clr-tree-node>Kevin Malone</clr-tree-node>
              <clr-tree-node>Oscar Martinez</clr-tree-node>
            </clr-tree-node>
  
            <clr-tree-node>
              Kelly Kapoor (Head of Customer Service)
              <clr-tree-node>Ryan Howard (Temp)</clr-tree-node>
            </clr-tree-node>
  
            <clr-tree-node>
              Creed Bratton (Quality Assurance)
            </clr-tree-node>
  
            <clr-tree-node>
              Meredith Palmer (Supplier Relations)
            </clr-tree-node>
  
            <clr-tree-node>
              Toby Flenderson (Human Resources)
            </clr-tree-node>
  
            <clr-tree-node>
              Pam Beesly (Reception)
            </clr-tree-node>
  
            <clr-tree-node>
              Darryl Philbin (Warehouse)
            </clr-tree-node>
          </clr-tree-node>
        </clr-tree-node>
      </clr-tree>
    </div>
  
  </div>