<div class="titleBox">
    <div>
      <h1>Menu 설정</h1>
    </div>
    <div>
      <a href="#">설정 ></a> &gt;<a href="#" class="link"> Menu 설정</a>
    </div>
  </div>
  
  <div class="textBox">
    <clr-icon shape="bell"></clr-icon>
    <p>제우스 동적 메뉴 관리 시스템 입니다.<br>
      2 Depth 메뉴로 구성가능하며 각 메뉴명, 메뉴 코드, Link 관련 URL을 설정을 지원합니다.</p>
  </div>
  
  <div class="con-box">
    <div class="con-box-item">
      <form clrForm class="formBox">
        <clr-input-container>
          <label>Top Menu Name</label>
          <input clrInput placeholder="Name" name="top_menu_name" [(ngModel)] = "topMenu.top_menu_name" required/>
        </clr-input-container>
        <clr-input-container>
          <label>Top Menu Code</label>
          <input clrInput placeholder="Code" name="top_menu_code" [(ngModel)] = "topMenu.top_menu_code" required/>
        </clr-input-container>
        <clr-input-container>
          <label>Menu Order</label>
          <input clrInput placeholder="Order" name="top_menu_order" [(ngModel)] = "topMenu.top_menu_order" required/>
        </clr-input-container>
        <clr-combobox-container>
          <label>Top Menu Icon</label>
          <clr-combobox [(ngModel)] = "topMenu.icon_code" name = "top_menu_icon" required>
            <clr-options> 
              <ng-container *ngFor = "let topMenuIcon of topMenuIcon">       
            <clr-option clrValue="{{topMenuIcon.icon_code}}">
              <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon> {{topMenuIcon.icon_description}}
            </clr-option>
            </ng-container>
          </clr-options>
        </clr-combobox>
        </clr-combobox-container>
        
        <button class="btn btn-primary" (click) = "onTopMenuSave()">
          <clr-icon shape="download"></clr-icon>저장
        </button>
        <button class="btn" (click) = "onTopMenuDelete()">
          <clr-icon shape="ban"></clr-icon>삭제
        </button>
      </form>
      <form clrForm class="formBox">
        <clr-input-container>
          <label>Sub Menu Name</label>
          <input clrInput placeholder="Name" name="sub_menu_name" [(ngModel)] = "subMenu.sub_menu_name" required/>
        </clr-input-container>
        <clr-input-container>
          <label>Sub Menu Code</label>
          <input clrInput placeholder="SubCode" name="sub_menu_code" [(ngModel)] = "subMenu.sub_menu_code" required/>
        </clr-input-container>
        <clr-combobox-container>
          <label>Top Menu Code</label>
          <clr-combobox [(ngModel)] = "subMenu.top_menu_code" name = "sub_top_menu_code" required>
            <clr-options>
              <ng-container *ngFor = "let topMenuCodeList of topMenuCodeList">
            <clr-option clrValue="{{topMenuCodeList.top_menu_code}}">{{topMenuCodeList.top_menu_code}}</clr-option>
          </ng-container>
          </clr-options>
        </clr-combobox>
        </clr-combobox-container>
        <clr-input-container>
          <label>Menu Order</label>
          <input clrInput placeholder="Order" name="sub_menu_order" [(ngModel)] = "subMenu.sub_menu_order" required/>
        </clr-input-container>
        <clr-combobox-container>
          <label>Sub Menu Icon</label>
          <clr-combobox [(ngModel)] = "subMenu.icon_code" name = "sub_menu_icon" required>
            <clr-options> 
              <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
            <clr-option clrValue="{{topMenuIcon.icon_code}}">
              <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon> {{topMenuIcon.icon_description}}
            </clr-option>
            </ng-container>
          </clr-options>
        </clr-combobox>
        </clr-combobox-container>
        <button class="btn btn-primary" (click) = "onSubMenuSave()">
          <clr-icon shape="download"></clr-icon>저장
        </button>
        <button class="btn" (click) = "onSubMenuDelete()">
          <clr-icon shape="ban"></clr-icon>삭제
        </button>
      </form>
  
    </div>
    <div class="con-box-item textBox mtb10">
      <h2 class="con-box-h2-line">메뉴리스트</h2>
      <button class="btn btn-primary btn-layer" (click) = "onDBSave()" [disabled] = "click">
        <clr-icon shape="download"></clr-icon>메뉴 적용
      </button>
      <clr-tree>
        <ng-container *ngFor = "let TopMenu of TopMenuList">
          <clr-tree-node (click) = "onTopMenuGet(TopMenu)">
            <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
            <ng-container *ngIf = "TopMenu.icon_code == topMenuIcon.icon_code">
              <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon>
            </ng-container> 
          </ng-container>  
            {{TopMenu.top_menu_name}} 
            <clr-tree-node *ngFor = "let SubMenu of SubMenuList" (click) = "onSubMenuGet(SubMenu)">
              <ng-container *ngIf = "TopMenu.top_menu_code == SubMenu.top_menu_code">
                <ng-container *ngFor = "let topMenuIcon of topMenuIcon">
                <ng-container *ngIf = "SubMenu.icon_code == topMenuIcon.icon_code">
                  <clr-icon [attr.shape]="topMenuIcon.icon_name"></clr-icon>
                </ng-container>
              </ng-container>
              {{SubMenu.sub_menu_name}}
            </ng-container>
            </clr-tree-node>    
            </clr-tree-node>        
          </ng-container>
          </clr-tree>

    </div>
  
  </div>