<div class="innerDiv">
    <div class="titleBox">
      <div>
        <h1>개발자 등록 </h1>
      </div>
      <div>
        <a href="#">설정 ></a><a href="#" class="link"> SMTP 설정</a>
      </div>
    </div>
    <div class="textBox">
      <clr-icon shape="bell"></clr-icon>
      <p>개발자를 등록해 주세요.<br>
        개발자는 개발에 필요한 IDE, Docker 및 POD 생성 권한이 있습니다.<br>
        일반사용자는 단순히 시스템에 정보를 확인할 수 있는 Viewer 권한이 있습니다.</p>
    </div>
    <button class="btn btn-primary" (click)="goToRegisterUser()">
      <clr-icon shape="plus"></clr-icon>신규등록
    </button>
    <button class="btn btn-primary" [disabled] = "check" (click)="updateUser()">
      <clr-icon shape="sync"></clr-icon>정보변경
    </button>
    <button class="btn btn-line" [disabled] = "check" (click)="deleteUser()">
      <clr-icon shape="ban"></clr-icon>개발자 삭제
    </button>

    <div class="btn-left">
      <div class="clr-select-wrapper">
        <select class="clr-select" name="groupName" [(ngModel)]="groupName" (ngModelChange)="changeValueGroup($event)">
          <ng-container *ngFor = "let group of groupsList">
            <option value="{{group.id}}/{{group.name}}">{{group.name}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    
    <table class="table custom-table">
      <caption>
      </caption>
      <thead>
        <tr>
          <th>
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox name="options" required value="option1" />
              <label>사용자 ID</label>
            </clr-checkbox-wrapper>
          </th>
          <th>권한</th>
          <th>이름</th>
          <th>부서명(직급)</th>
          <th>E-mail(연락처)</th>
          <th>등록일</th>
          <th>계정현황</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let userList of userInfoList">
          <td>
            <clr-checkbox-wrapper>
              <input *ngIf="userList.enabled == false" type="checkbox" [(ngModel)]="userList.checked" [disabled]="true" (ngModelChange)="onClickUserInfo()" clrCheckbox name="options" required />
              <input *ngIf="userList.enabled == true" type="checkbox" [(ngModel)]="userList.checked" [disabled]="false" (ngModelChange)="onClickUserInfo()" clrCheckbox name="options" required />
              <label>{{userList.username}}</label>
            </clr-checkbox-wrapper>
          </td>
          <td>관리자</td>
          <td>{{userList.firstName}}{{userList.lastName}}</td>
          <td>{{userList.attributes.departmentNm}}({{userList.attributes.position}})</td>
          <td>{{userList.email}}</td>
          <td>{{userList.convertcreatedTimestamp}}</td>
          <td *ngIf="userList.enabled == false">
            <button type="button" class="btn" (click)="acceptUser(userList)">등록</button>
          </td>
          <td *ngIf="userList.enabled == true">등록완료</td>
        </tr>
      </tbody>
    </table>
  </div>