<div class="titleBox">
    <div>
        <h1 class="custom-h1">데이터 저장 기간 설정</h1>
    </div>
    <div>
        <a href="#">설정</a> &gt;<a href="#" class="link"> 데이터 저장 기간 설정</a>
    </div>
  </div>
  <div class="textBox">
    <clr-icon shape="bell"></clr-icon>
    <p>올림프스에서 수집된 데이터의 삭제 주기를 설정하세요</p>
  </div>
  
  <table class="table custom-table">
    <caption>
    </caption>
    <thead>
      <tr>
        <th>저장소</th>
        <th>저장 내용</th>
        <th>수집데이 저장기간</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>APM Performance</td>
        <td>Server 성능 및 App 성능 감시 데이터</td>
        <td>         
          <div class="data-array">
            <clr-select-container>
              <label>수집센서</label>
              <select clrSelect name="options" class="font-size-bier">
                <option value="">5 minute</option>
                <option value="">10 minute</option>
                <option value="">15 minute</option>
                <option value="">20 minute</option>
                <option value="">1 Hours</option>
                <option value="">2 Hours</option>
                <option value="">1 Days</option>
                <option value="">2 Days</option>
              </select>
            </clr-select-container>
          </div>
  
          
        </td>
        <tr>
          <td>APM Performance</td>
          <td>Server 성능 및 App 성능 감시 데이터</td>
          <td>         
            <div class="data-array">
              <clr-select-container>
                <label>수집센서</label>
                <select clrSelect name="options" class="font-size-bier">
                  <option value="">5 minute</option>
                  <option value="">10 minute</option>
                  <option value="">15 minute</option>
                  <option value="">20 minute</option>
                  <option value="">1 Hours</option>
                  <option value="">2 Hours</option>
                  <option value="">1 Days</option>
                  <option value="">2 Days</option>
                </select>
              </clr-select-container>
            </div>
    
            
          </td>
          <tr>
            <td>APM Performance</td>
            <td>Server 성능 및 App 성능 감시 데이터</td>
            <td>         
              <div class="data-array">
                <clr-select-container>
                  <label>수집센서</label>
                  <select clrSelect name="options" class="font-size-bier">
                    <option value="">5 minute</option>
                    <option value="">10 minute</option>
                    <option value="">15 minute</option>
                    <option value="">20 minute</option>
                    <option value="">1 Hours</option>
                    <option value="">2 Hours</option>
                    <option value="">1 Days</option>
                    <option value="">2 Days</option>
                  </select>
                </clr-select-container>
              </div>
      
              
            </td>
            <tr>
              <td>APM Performance</td>
              <td>Server 성능 및 App 성능 감시 데이터</td>
              <td>         
                <div class="data-array">
                  <clr-select-container>
                    <label>수집센서</label>
                    <select clrSelect name="options" class="font-size-bier">
                      <option value="">5 minute</option>
                      <option value="">10 minute</option>
                      <option value="">15 minute</option>
                      <option value="">20 minute</option>
                      <option value="">1 Hours</option>
                      <option value="">2 Hours</option>
                      <option value="">1 Days</option>
                      <option value="">2 Days</option>
                    </select>
                  </clr-select-container>
                </div>
        
                
              </td>
              <tr>
                <td>APM Performance</td>
                <td>Server 성능 및 App 성능 감시 데이터</td>
                <td>         
                  <div class="data-array">
                    <clr-select-container>
                      <label>수집센서</label>
                      <select clrSelect name="options" class="font-size-bier">
                        <option value="">5 minute</option>
                        <option value="">10 minute</option>
                        <option value="">15 minute</option>
                        <option value="">20 minute</option>
                        <option value="">1 Hours</option>
                        <option value="">2 Hours</option>
                        <option value="">1 Days</option>
                        <option value="">2 Days</option>
                      </select>
                    </clr-select-container>
                  </div>
          
                  
                </td>
                <tr>
                  <td>APM Performance</td>
                  <td>Server 성능 및 App 성능 감시 데이터</td>
                  <td>         
                    <div class="data-array">
                      <clr-select-container>
                        <label>수집센서</label>
                        <select clrSelect name="options" class="font-size-bier">
                          <option value="">5 minute</option>
                          <option value="">10 minute</option>
                          <option value="">15 minute</option>
                          <option value="">20 minute</option>
                          <option value="">1 Hours</option>
                          <option value="">2 Hours</option>
                          <option value="">1 Days</option>
                          <option value="">2 Days</option>
                        </select>
                      </clr-select-container>
                    </div>
            
                    
                  </td>
      </tr>
  
    </tbody>
  </table>