<p><clr-icon shape="error-standard" size="25"></clr-icon> SMTP 메일 서버 설정</p>

<form class="clr-form clr-form-horizontal">
  <div class="clr-form-control">
    <label for="example1" class="clr-control-label">Label</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
      </div>
    </div>
  </div>
  <div class="clr-form-control">
    <label for="example2" class="clr-control-label">Label</label>
    <div class="clr-control-container">
      <div class="clr-select-wrapper">
        <select placeholder="Select Option" id="example2">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clr-form-control">
    <label for="example3" class="clr-control-label">Label</label>
    <div class="clr-control-container">
      <div class="clr-textarea-wrapper">
        <textarea id="example3" placeholder="Placeholder" class="clr-textarea"></textarea>
      </div>
    </div>
  </div>
  <div class="clr-form-control">
    <label for="example4" class="clr-control-label">Label</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="example4" placeholder="Placeholder" class="clr-input" />
      </div>
      <span class="clr-subtext">Helper Text</span>
    </div>
  </div>

  <button id="new-project-ok" type="button" 
    class="btn btn-primary"
    (click)="onSubmit()">OK</button>

</form>

<br>
<hr>
<br>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-danger" disabled>Disabled</button>

<br>
<hr>
<br>

<input type="checkbox" clrCheckbox />

<br>
<hr>
<br>

<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox value="option1" name="options" />
  <label>Option 1</label>
</clr-checkbox-wrapper>
<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox value="option2" name="options" />
  <label>Option 2</label>
</clr-checkbox-wrapper>

<br>
<hr>
<br>

<clr-alert [clrAlertAppLevel]="true">
  <clr-alert-item>
    <span class="alert-text">
      Congratulations, you have installed Clarity!
    </span>
  </clr-alert-item>
</clr-alert>

<br>
<hr>
<br>

<clr-icon shape="error-standard"></clr-icon>
<clr-icon shape="success-standard" size="25"></clr-icon>

<br>
<hr>
<br>

<cds-icon shape="user" size="25"></cds-icon>
<cds-icon shape="checkbox-list" size="25"></cds-icon>
<cds-icon shape="calendar" size="25"></cds-icon>
<cds-icon shape="folder-open" size="25"></cds-icon>
<cds-icon shape="administrator" size="25"></cds-icon>

<br>
<hr>
<br>

<div class="btn-group btn-primary">
  <button class="btn">Add</button>
  <button class="btn">Edit</button>
  <button class="btn">Download</button>
  <button class="btn">Delete</button>
</div>

<br>
<hr>
<br>

<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox name="options" required value="option1" />
  <label>Option 1</label>
</clr-checkbox-wrapper>
<clr-checkbox-wrapper>
  <input type="checkbox" clrCheckbox name="options" required value="option2" />
  <label>Option 2</label>
</clr-checkbox-wrapper>

<br>
<hr>
<br>

<form clrForm>
  <clr-datalist-container>
    <input clrDatalistInput  placeholder="No label" name="Option" />
    <datalist>
      <option *ngFor="let item of items" [value]="item"></option>
    </datalist>
  </clr-datalist-container>
</form>

<form clrForm>
  <clr-datalist-container>
    <label>Template Datalist</label>
    <input minlength="4" name="Option" required clrDatalistInput/>
    <datalist>
      <option *ngFor="let item of items" [value]="item"></option>
    </datalist>
    <clr-control-helper>설명</clr-control-helper>
    <clr-control-error>There was an error</clr-control-error>
  </clr-datalist-container>
</form>

<br>
<hr>
<br>

<table class="table">
  <caption>
    Demo for a basic Clarity table.
  </caption>
  <thead>
    <tr>
      <th>Decimal</th>
      <th>Hexadecimal</th>
      <th>Binary</th>
      <th class="hidden-xs-down">Roman Numeral</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td class="hidden-xs-down">I</td>
    </tr>
    <tr>
      <td>5</td>
      <td>5</td>
      <td>101</td>
      <td class="hidden-xs-down">V</td>
    </tr>
    <tr>
      <td>10</td>
      <td>A</td>
      <td>1010</td>
      <td class="hidden-xs-down">X</td>
    </tr>
    <tr>
      <td>15</td>
      <td>F</td>
      <td>1111</td>
      <td class="hidden-xs-down">XV</td>
    </tr>
  </tbody>
</table>